<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/estilo.css">
  <title>Galeria</title>
</head>
<body>
  <!--HEADER-->
  <header>
    <div>
    <h1>Escuela de Futbol </h1>
    <h1>"La Pulga"</h1>
    <p>La Pasión nos Une</p>
    </div>
  </header>
  <!--NAVBAR-->
  <nav class="navbar">
    <a href="../../index.html">INICIO</a>
    <a href="">GALERIA</a>
    <a href="">TABLA GENERAL METROPOLITANO 1</a>
    <a href="" >TABLA GENERAL SUPERLIGA</a>
    <a href="">REGISTRATE</a>
    <a href="">LOGIN</a>
    <a href="">TIENDA ONLINE</a>
  </nav>
  <!-- GALERIA DE FOTOS-->
  <h1>NUESTRAS MEJORES FOTOS</h1>

  <a href="" class="galeria"><img src="../img/galeria1.1.png" alt=""></a>
  <a href="" class="galeria"><img src="../img/galeria2.1.png" alt=""></a>
  <a href="" class="galeria"><img src="../img/galeria3.1.png" alt=""></a>
  <a href="" class="galeria"><img src="../img/galeria4.1.png" alt=""></a>
  <a href="" class="galeria"><img src="../img/galeria5.1.png" alt=""></a>
  <a href="" class="galeria"><img src="../img/galeria6.1.png" alt=""></a>
  <a href="" class="galeria"><img src="../img/galeria7.1.png" alt=""></a>
  <a href="" class="galeria"><img src="../img/galeria8.1.png" alt=""></a>
  <a href="" class="galeria"><img src="../img/galeria9.png" alt=""></a>
  <a href="" class="galeria"><img src="../img/galeria10.png" alt=""></a>
  <a href="" class="galeria"><img src="../img/galeria11.png" alt=""></a>
  <a href="" class="galeria"><img src="../img/galeria12.png" alt=""></a>
  <!--FOOTER-->
<Footer>
  <p>&copy;Juan D Agostino, Potrero Digital</p>
</Footer>
</body>
</html>