<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Productos</title>
<body>
  <section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-4">  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                  <header class="header">
                    <h1>Escuela de Futbol </h1>
                    <h1>"La Pulga"</h1>
                    <p>La Pasión nos Une</p>
                    <div class="admin-links"> 
                      <a href="../../index.html">Volver</a>
                      </div>
                    </header>
                    <table class="table">
                      <thead class="thead-primary">
                        <tr>
                          <th>Producto</th>
                          <th>Descripción</th>
                          <th>Talle</th>
                          <th>Stock</t>
                          <th>Precio</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                            <td>
                              <img src="../img/Buzo pulga 2.jpg" alt="Producto B" class="product-image">
                            </td>
                          <td>
                            <div class="email">
                                <span>Buzo La Pulga</span>
                            </div>
                          </td>
                          <td>s-m-l-xl</td>
                            <td>5</td>
                      </td>
                      <td>$12000</td>
                          <td>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                        </button>
                        </td>

                      </tr>
                          <td>
                            <img src="../img/Termica la pulga.png" alt="Producto B" class="product-image">
                          </td>
                        <td>
                          <div class="email">
                              <span>Camiseta Termica</span>
                          </div>
                        </td>
                        <td>s-m-l-xl</td>
                          <td>3</td>
                    </td>
                    <td>$10000</td>
                        <td>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="fa fa-close"></i></span>
                      </button>
                      </td>
                      
                    </tr>
                        </td>
                        <td>
                          <img src="../img/Camiseta.jpg" alt="Producto B" class="product-image">
                        </td>
                      <td>
                        <div class="email">
                            <span>Camiseta</span>
                        </div>
                      </td>
                      <td>s-m-l-xl</td>
                        <td>15</td>
                  </td>
                  <td>$8500</td>
                      <td>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-close"></i></span>
                    </button>
                    </td>
                    
                  </tr>
                      </td>
                      <td>
                        <img src="../img/Pantalon.jpg" alt="Producto B" class="product-image">
                      </td>
                    <td>
                      <div class="email">
                          <span>Short</span>
                      </div>
                    </td>
                    <td>s-m-l-xl</td>
                      <td>15</td>
                </td>
                <td>7000</td>
                    <td>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true"><i class="fa fa-close"></i></span>
                  </button>
                  </td>
                  
                  </tr>
                    </td>
                    <td>
                      <img src="../img/Camiseta arquero.jpg" alt="Producto B" class="product-image">
                    </td>
                  <td>
                    <div class="email">
                        <span>Camista Arquero</span>
                    </div>
                  </td>
                  <td>s-m-l-xl</td>
                    <td>6</td>
              </td>
              <td>$8500</td>
                  <td>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                </button>
              </td>
                </tr>
                  </td>
                  <td>
                    <img src="../img/Pantalon arquero.jpg" alt="Producto B" class="product-image">
                  </td>
                <td>
                  <div class="email">
                      <span>Short Arquero</span>
                  </div>
                </td>
                <td>s-m-l-xl</td>
                  <td>6</td>
            </td>
            <td>$7000</td>
                <td>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="fa fa-close"></i></span>
              </button>
              </td>
              </tr>
                </td>
                <td>
                  <img src="../img/Medias.jpg" alt="Producto B" class="product-image">
                </td>
              <td>
                <div class="email">
                    <span>Medias</span>
                </div>
              </td>
              <td>1-2-3</td>
                <td>10</td>
          </td>
          <td>$3500</td>
              <td>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-close"></i></span>
            </button>
            </td>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>


</body>
</html>